// FONT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');
/*
Light 300
Regular 400
Semi-bold 600
Bold 700
Extra-bold 800*/

$header-height: 4rem;

// ======= COLORS =======

$primaryColor: #D621A7;
$secColor: #EB31D4;
$txtColor: #FFFFFF;

// ======= TYPHOGRAPHY =======

$body-font: 'Montserrat', sans-serif;
$big-font-size: 2.25rem;
$normal-font-size: .398rem;

// ======= RESPONSIVE TYPOGRAPHY =======


$big-font-size: 3.5rem;
$normal-font-size: 1rem;